<link rel="stylesheet" href="/styles/sidebar.css">

<div class="wrapper">
    <nav class="nav-area">
        <h1>Instagram</h1>

        <button class="btn-container">
            <img src="/imgs/home.png" alt="Home Button">
            <p class="btn-description">Home</p>
        </button>
        <button class="btn-container">
            <img src="/imgs/create.png" alt="Home Button">
            <p class="btn-description">Create</p>
        </button>
    </nav>
</div>
