<link rel="stylesheet" href="/styles/sidebar.css">

<div class="wrapper">
    <nav class="nav-area">
        <h1 class="title-logo">Instagram</h1>

        <a class="btn-container" id="home-button" href="/">
            <img src="/imgs/home.png" alt="Home Button">
            <p class="btn-description">Home</p>
        </a>
        <a class="btn-container" id="create-button" href="/createPost">
            <img src="/imgs/create.png" alt="Create Button">
            <p class="btn-description">Create</p>
        </a>
        <% if(!currentUser){ %>
        <a class="btn-container" id="logout-button" href="/login">
            <img src="/imgs/create.png" alt="Logout Button">
            <p class="btn-description">Log in</p>
        </a>
        <a class="btn-container" id="signup-button" href="/register">
            <img src="/imgs/create.png" alt="Signup Button">
            <p class="btn-description">Sign Up</p>
        </a>
        <% } else{ %>
        <a class="btn-container" id="logout-button" href="/logout">
            <img src="/imgs/create.png" alt="Logout Button">
            <p class="btn-description">Log out</p>
        </a>
        <% } %>
    </nav>
</div>