<% layout('layouts/boilerplate')%>
<div class="main-content">
    <form action="/" method="POST" enctype="multipart/form-data"> 
        <h2>Create a New Post</h2>
        <input type="file" name="image">

        <label for="description">Description:</label>
        <textarea id="description" name="post[description]" rows="4" cols="50" required></textarea>

        <input type="submit" value="Create Post">
    </form>
</div>

<style>
    .main-content {
        position: fixed;
        right: 0;
        width: 85%;
        height: 100%;
        background-color: black;
        overflow: auto;
        padding: 40px;
        color: white; /* Added text color for the form */
    }

    p {
        color: white;
    }

    form {
        color: white;
    }
</style>