<% layout('layouts/boilerplate')%>
<div class="main-content">
    <form action="/post/<%=post._id%>?_method=PUT" method="POST"> 
        <h2>Edit the Post</h2>
        <label for="image">Image:</label>
        <input type="text" id="image" name="post[image]" value="<%=post.image%>" required>

        <label for="description">Description:</label>
        <textarea id="description" name="post[description]" rows="4" cols="50" value="<%=post.description%>" required></textarea>

        <input type="submit" value="Submit">
    </form>
</div>

<style>
    .main-content {
        position: fixed;
        right: 0;
        width: 85%;
        height: 100%;
        background-color: black;
        overflow: auto;
        padding: 40px;
        color: white; /* Added text color for the form */
    }

    p {
        color: white;
    }

    form {
        color: white;
    }
</style>
