<% layout('layouts/boilerplate') %>

<div class="main-content">
    <h1>Error</h1>
    <h4><%=err.message%></h4>
    <p><%= err.stack %></p>
</div>

<style>


    .main-content {
            position: fixed;
            right: 0;
            width: 85%;
            height: 100%;
            background-color: black;
            overflow: auto;
            padding: 40px;
            color: white;
        }
</style>