<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>

<body>
    <% for (let campground of campgrounds){%>
        <div class="col-md-4">
            <img crossorigin="anonymous" class="img-fluid" alt="" src="<%=post.image%">
        </div>
        <h5 class="card-title"><%= post.description %></h5>
        <p class="card-text"><%= post.likes %> </p>
        <% }%>
</body>

</html>